<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!--Style CSS-->
    <link rel="stylesheet" href="/style.css">
    <!--Importer la bibliothèque Vue JS-->
    <!-- <script src="https://unpkg.com/vue@next"></script> -->
    <!--Lors de la mise en production, utilisez cette balise Vue JS-->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.13/dist/vue.global.prod.js"></script>
    <script src="ejs.js"></script>
    <script src="viewejs.js"></script>
    <title>To Do List | Login</title>
</head>
<body>
    <main>
        <div class="loginContainer">
            <h1>Login</h1>
            <form action="/login/users">
                <input type="text" name="name" id="name" aria-label="name" placeholder="Nom">
                <input type="number" name="age" id="age" aria-label="age" placeholder="Age">
                <input type="email" name="email" id="email" aria-label="email" placeholder="Email">
                <input type="password" name="password" id="password" aria-label="password" placeholder="Mot de passe">
                <input type="submit" value="S'inscrire">
            </form>
        </div>
    </main>

    <script>
        const app = Vue.createApp ( {
            data() {
                return {
                    users: [
                        {id: 1, name: 'Nom Prénom 1', age: 40, email:'examples@example.com', password:'password1'}, 
                        {id: 2, name: 'Nom Prénom 1', age: 40, email:'examples@example.com', password:'password2'}, 
                        {id: 3, name: 'Nom Prénom 1', age: 40, email:'examples@example.com', password:'password3'},
                    ],
                    newUser: ''
                }
            }, 
            methods: {
                addUser() {
                    // Ajouter un nouvel utilisateur
                    this.users.push( {
                        id: this.user.length + 1,
                        name: this.newUser,
                        age: this.age,
                        email: this.email,
                        password: this.password
                    });

                    // Réinitialiser tous les champs
                    this.newUser= '';
                }
            }
        });
        app.mount('#app');
    </script>
</body>
</html>
